.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/.idea/libraries/ComAndroidSupportAppcompatV71901_aar.xml
/.idea/libraries/Gradle__ComAndroidSupportAppcompatV71901_aar.xml
/.idea/libraries/Gradle__jpct_ae.xml
/.idea/libraries/Gradle__musicg_1_4_2_0.xml
/.idea/libraries/Gradle__support_v4_19_0_1.xml
/.idea/libraries/appcompat_v7_19_0_0.xml
/.idea/libraries/jpct_ae.xml
/.idea/libraries/musicg_1_4_2_0.xml
/.idea/libraries/support_v4_19_0_0.xml
/.idea/libraries/support_v4_19_0_1.xml
